/* [START] Main Rules */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--orange: #ec755d;
	--cyan: #76b5bc;
	--cream: #f8e9dd;
	--white: #fffbf6;
	--dark-brown: #382314;
	--md-brown: #92857a;
}
body {
	background-color: var(--cream);
	font-family: 'DM Sans', sans-serif;
	height: 100dvh;
}
/* [END] Main Rules */

/* [START] Expenses Component */
main {
	max-width: 33.75rem;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
main header {
	background-color: var(--orange);
	border-radius: 1.25rem;
	overflow: hidden;
	padding: 1.688rem 2rem 1.563rem 2.438rem;
}
main header h2 {
	float: left;
	color: var(--white);
	font-size: 2rem;
	line-height: 1.3018;
}
main header h2 span {
	font-weight: 400;
	color: white;
	font-size: 0.5625em;
	line-height: 1.3022;
}
main header img {
	float: right;
	position: relative;
	top: 2.6rem;
	transform: translateY(-50%);
}
main section {
	background-color: var(--white);
	border-radius: 1.25rem;
	padding: 2rem 2.5rem 2.563rem;
	margin-top: 1.5rem;
}
main section h3 {
	color: var(--dark-brown);
	font-size: 2rem;
	line-height: 1.3018;
}
main section .chart {
	overflow: hidden;
	margin-top: 4.125rem;
}
main section .chart .column {
	float: left;
	position: relative;
	width: calc((100% - (1.119rem * 6)) / 7);
	text-align: center;
}
main section .chart .column:not(:last-of-type) {
	margin-right: 1.119rem;
}
main section .chart .column .bar {
	height: 9.375rem;
	position: relative;
	margin-bottom: 0.5rem;
	cursor: pointer;
}
main section .chart .column .bar .progress {
	background-color: var(--orange);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-radius: 0.313rem;
}
main section .chart .column .bar:hover .progress {
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
}
main section .chart .column:first-of-type .bar .progress {
	height: 33%;
}
main section .chart .column:nth-of-type(2) .bar .progress {
	height: 66%;
}
main section .chart .column:nth-of-type(3) .bar .progress {
	height: 100%;
	background-color: var(--cyan);
}
main section .chart .column:nth-of-type(4) .bar .progress {
	height: 59%;
}
main section .chart .column:nth-of-type(5) .bar .progress {
	height: 44%;
}
main section .chart .column:nth-of-type(6) .bar .progress {
	height: 82%;
}
main section .chart .column:last-of-type .bar .progress {
	height: 48%;
}
main section .chart .column h4 {
	font-weight: 400;
	color: var(--md-brown);
	font-size: 0.938rem;
}
main section .line {
	height: 0.125rem;
	border-radius: 1rem;
	background-color: var(--cream);
	margin: 2rem 0;
}
main section footer h3 {
	color: var(--md-brown);
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.3022;
}
main section footer div {
	overflow: hidden;
	height: 3.905rem;
}
main section footer .amount {
	float: left;
	color: var(--dark-brown);
	font-size: 3rem;
	line-height: 1.302;
}
main section footer .diff {
	float: right;
	color: var(--dark-brown);
	font-size: 1.125rem;
	line-height: 1.3022;
	font-weight: 700;
	text-align: right;
	position: relative;
	top: 100%;
	transform: translateY(-100%);
}
main section footer .diff span {
	color: var(--md-brown);
	font-weight: 400;
}

/* [END] Expenses Component */
